<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerPitch: Think, Speak, Succed</title>
   
    
</head>

<body>
    <div class="container">
        <div class="form-section">
            <h2>Welcome to 3rd Week of PowerPitch</h2>
            <div class="button-container">
                <button >Give Your Attendance</button>
                <button >Grade the Students</button>
            </div>
        </div>
    </div>
</body>
</html>